@font-face {
	font-family: 'SF Pro Display';
	src: local('SF Pro Display'),
		url('https://db.onlinewebfonts.com/t/0b51833ff62e4af8acb5fd3e2bf59e97.eot?#iefix')
			format('embedded-opentype'),
		url('https://db.onlinewebfonts.com/t/0b51833ff62e4af8acb5fd3e2bf59e97.woff2')
			format('woff2'),
		url('https://db.onlinewebfonts.com/t/0b51833ff62e4af8acb5fd3e2bf59e97.woff')
			format('woff'),
		url('https://db.onlinewebfonts.com/t/0b51833ff62e4af8acb5fd3e2bf59e97.ttf')
			format('truetype');
	font-weight: 400;
}

@font-face {
	font-family: 'SF Pro Display';
	src: local('SF Pro Display'),
		url('https://db.onlinewebfonts.com/t/64a2cfb57c4a5df1013e4f2e5bf3eff3.eot?#iefix')
			format('embedded-opentype'),
		url('https://db.onlinewebfonts.com/t/64a2cfb57c4a5df1013e4f2e5bf3eff3.woff2')
			format('woff2'),
		url('https://db.onlinewebfonts.com/t/64a2cfb57c4a5df1013e4f2e5bf3eff3.woff')
			format('woff'),
		url('https://db.onlinewebfonts.com/t/64a2cfb57c4a5df1013e4f2e5bf3eff3.ttf')
			format('truetype');
	font-weight: 500;
}

@font-face {
	font-family: 'SF Pro Display';
	src: local('SF Pro Display'),
		url('https://db.onlinewebfonts.com/t/179429c3795fb9aed42c526bd1133cc0.eot?#iefix')
			format('embedded-opentype'),
		url('https://db.onlinewebfonts.com/t/179429c3795fb9aed42c526bd1133cc0.woff2')
			format('woff2'),
		url('https://db.onlinewebfonts.com/t/179429c3795fb9aed42c526bd1133cc0.woff')
			format('woff'),
		url('https://db.onlinewebfonts.com/t/179429c3795fb9aed42c526bd1133cc0.ttf')
			format('truetype');
	font-weight: 600;
}

@font-face {
	font-family: 'SF Pro Display';
	src: local('SF Pro Display'),
		url('https://db.onlinewebfonts.com/t/3cff9206b4c8d578245ef1aaeeaf9e84.eot?#iefix')
			format('embedded-opentype'),
		url('https://db.onlinewebfonts.com/t/3cff9206b4c8d578245ef1aaeeaf9e84.woff2')
			format('woff2'),
		url('https://db.onlinewebfonts.com/t/3cff9206b4c8d578245ef1aaeeaf9e84.woff')
			format('woff'),
		url('https://db.onlinewebfonts.com/t/3cff9206b4c8d578245ef1aaeeaf9e84.ttf')
			format('truetype');
	font-weight: 700;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'SF Pro Display';
}

body {
	padding: 50px 0;
	width: 100%;
	background-color: rgba(9, 12, 17, 1);
	background-image: url(./img/bg.png);
	background-repeat: no-repeat;
	background-position: left bottom;
	background-size: cover;
}

nav {
	text-align: center;
}

.nav_list {
	list-style: none;
	padding: 0 30px;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	gap: 40px;
	background: rgba(255, 255, 255, 0.1);
	border-radius: 2000px;
}

.nav_item {
	padding: 20px 0;
	font-size: 20px;
	font-weight: 400;
	color: rgba(255, 255, 255, 0.8);
	position: relative;
}

.nav_item::after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 2px;
	border-radius: 200px;
	background-color: #1e74f9;
	opacity: 0;
	transition: opacity 0.3s;
}

.nav_item.active {
	color: rgba(255, 255, 255, 1);
}

.nav_item.active::after {
	opacity: 1;
}

.products {
	padding: 50px 0;
	background-color: rgba(9, 12, 17, 1);
}

.products_title {
	font-size: 40px;
	font-weight: 500;
	color: #99acbe;
	margin: 0 63px;
}

.products_nav {
	list-style-type: none;
	margin: 60px 63px 0;
	padding: 4px;
	display: inline-flex;
	gap: 20px;
	align-items: center;
	background-color: rgba(255, 255, 255, 0.05);
	border: 1px solid rgba(255, 255, 255, 0.1);
	border-radius: 12px;
}

.products_nav_item {
	padding: 12px 16px;
	border-radius: 12px;
	transition: background-color 0.5s ease;
}

.products_nav_item.active {
	background-color: rgba(255, 255, 255, 0.1);
}

.products_nav_btn {
	padding: 12px 16px;
	display: flex;
	gap: 12px;
	align-items: center;
	justify-content: center;
	background: none;
	border: none;
}

.product_icon {
	width: 32px;
	height: 32px;
	background-color: #424447;
	background-repeat: no-repeat;
	background-position: center;
	border-radius: 9.6px;
}

.Apple_icon {
	background-image: url(./svg/Apple.svg);
}

.Dyson_icon {
	background-image: url(./svg/Dyson.svg);
}

.Sony_icon {
	background-image: url(./svg/Sony.svg);
}

.Xiaomi_icon {
	background-image: url(./svg/Xiaomi.svg);
}

.Xbox_icon {
	background-image: url(./svg/Xbox.svg);
}

.products_nav_title-btn {
	font-size: 32px;
	font-weight: 500;
	color: rgba(255, 255, 255, 0.7);
}

.products_list {
	margin-top: 72px;
	list-style-type: none;
	display: none;
	gap: 42px;
	height: 500px;
	width: 100%;
	overflow-x: scroll;
	white-space: nowrap;
	scrollbar-width: none;
	visibility: hidden;
	opacity: 0;
	transition: opacity 0.3s ease, visibility 0s 0.3s;
}

.products_list.active {
	display: flex;
	visibility: visible;
	opacity: 1;
	transition: opacity 0.3s ease;
}

.product_item {
	height: 100%;
	width: 388px;
	padding: 33px 34px;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	background-image: url(./img/iPhone.png);
	background-repeat: no-repeat;
	background-position: center 22px;
	background-size: 197px 289px;
	background-color: rgba(113, 113, 113, 0.1);
	border-radius: 30px;
	position: relative;
	z-index: 0;
}

.product_item::before {
	content: '';
	display: block;
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 80%;
	border-radius: 30px;
	background: linear-gradient(rgba(19, 22, 26, 0) 15%, rgba(19, 22, 26, 1) 40%);
	pointer-events: none;
	z-index: 1;
}

.product_title {
	font-size: 24px;
	font-weight: 400;
	color: rgba(255, 255, 255, 0.6);
	text-align: center;
	z-index: 2;
}

.product_price {
	margin-top: 12px;
	font-size: 28px;
	font-weight: 600;
	color: rgba(255, 255, 255, 1);
	text-align: center;
	z-index: 2;
}

.product_purchase {
	margin-top: 27px;
	background-color: #fff;
	border-radius: 50px;
	border: none;
	width: 100%;
	height: 50px;
	font-size: 24px;
	font-weight: 400;
	color: #13161a;
	z-index: 2;
}

.feedbacks {
	margin: 55px 50px;
	padding: 50px 0;
	background: linear-gradient(45deg, #0075ff, rgba(92, 167, 255, 0.2));
	box-shadow: inset 0px 0px 50px rgba(0, 0, 0, 0.5);
	border-radius: 20px;
	position: relative;
	z-index: 0;
}

.feedbacks::before {
	content: '';
	display: block;
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	border-radius: 20px;
	background: rgba(0, 0, 0, 0.6);
	pointer-events: none;
	z-index: 1;
}

.feedbacks_name {
	margin: 0 50px;
	font-size: 20px;
	font-weight: 400;
	color: rgba(255, 255, 255, 0.8);
	position: relative;
	z-index: 2;
}

.feedbacks_title {
	margin: 18px 50px 51px;
	font-size: 50px;
	font-weight: 500;
	color: rgba(255, 255, 255, 1);
	position: relative;
	z-index: 2;
}

.feedbacks_list {
	padding: 0 50px;
	list-style-type: none;
	display: flex;
	gap: 20px;
	overflow-x: scroll;
	white-space: nowrap;
	scrollbar-width: none;
	min-height: 370px;
	position: relative;
	z-index: 2;
}

.feedbacks_item {
	width: 300px;
	display: flex;
	flex-direction: column;
}

.feedbacks_item:nth-child(odd) {
	justify-content: flex-end;
}

.feedbacks_item:nth-child(even) {
	justify-content: flex-start;
}

.author_img {
	width: 70px;
	height: 70px;
	border-radius: 50%;
	background-color: #fff;
	background-image: url(./svg/Ð®.svg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 29px 30px;
	z-index: 2;
}

.author_name {
	margin-top: 16px;
	font-size: 24px;
	font-weight: 500;
	color: rgba(255, 255, 255, 1);
	z-index: 2;
}

.author_feedback {
	width: 300px;
	margin-top: 20px;
	font-size: 20px;
	font-weight: 400;
	color: rgba(255, 255, 255, 1);
	white-space: normal;
}

.feedbacks-btn {
	margin: 90px 50px 0;
	height: 90px;
	width: calc(100% - 100px);
	border: none;
	border-radius: 20px;
	background-color: rgba(255, 255, 255, 0.1);
	display: flex;
	gap: 28px;
	justify-content: center;
	align-items: center;
	position: relative;
	z-index: 2;
}

.feedbacks-btn_text {
	font-size: 30px;
	font-weight: 400;
	color: rgba(255, 255, 255, 1);
}

.request {
	margin: 0 50px;
}

.request_title {
	font-size: 50px;
	font-weight: 500;
	color: #fff;
	text-align: center;
}

.request_title-text {
	margin-top: 37px;
	font-size: 24px;
	font-weight: 400;
	color: rgba(255, 255, 255, 0.7);
	text-align: center;
}

.request_title-main_text {
	color: rgba(255, 255, 255, 1);
}

.info_request_container {
	margin-top: 62px;
	width: 100%;
	padding: 45px;
	text-align: center;
	position: relative;
	z-index: 0;
}

.info_request_container::before {
	content: '';
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background: linear-gradient(135deg, #002e5c 15%, #13171c 40%);
	backdrop-filter: blur(10px);
	opacity: 0.25;
	border-radius: 30px;
	box-shadow: inset 0px 0px 5px rgba(255, 255, 255, 1);
	z-index: 1;
}

.gradient_border-top {
	margin: 0 auto;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	width: 818px;
	border: 2000px;
	height: 2px;
	box-shadow: 0px 0px 63.4px 3px #2171f1;
	background: linear-gradient(
		to right,
		rgba(209, 227, 255, 0) 5%,
		rgba(209, 227, 255, 1) 50%,
		rgba(209, 227, 255, 0) 95%
	);
}

.info_request_container::after {
	content: '';
	display: block;
	position: absolute;
	left: 50%;
	top: -20px;
	width: 422px;
	height: 81px;
	border-radius: 50%;
	background-color: rgb(0, 117, 255);
	filter: blur(120px);
	transform: translateX(-50%);
	z-index: 1;
}

.input_fields_container {
	width: 580px;
	display: flex;
	margin: 0 auto;
	flex-direction: column;
	gap: 16px;
	position: relative;
	z-index: 2;
}

.data_request {
	width: 100%;
	padding: 24px 20px;
	background-color: rgba(199, 227, 255, 0.2);
	border: none;
	border-radius: 12px;
}

.data_request::placeholder {
	font-size: 24px;
	font-weight: 400;
	color: rgba(255, 255, 255, 0.3);
}

.request_sent-btn {
	margin-top: 38px;
	width: 580px;
	border: 1px solid #a0ccff;
	border-radius: 14px;
	background-color: #0069e5;
	box-shadow: inset 0px 0px 20px rgba(255, 255, 255, 0.4);
	padding: 24px;
	font-size: 28px;
	font-weight: 400;
	color: rgba(255, 255, 255, 1);
	position: relative;
	z-index: 2;
}

.request_tel_container {
	margin-top: 40px;
	text-align: center;
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.request_tel_text {
	font-size: 20px;
	font-weight: 400;
	color: rgba(255, 255, 255, 1);
}

.request_tel {
	font-size: 20px;
	font-weight: 400;
	color: rgba(255, 255, 255, 1);
}
