@font-face {
	font-family: 'SF Pro Display';
	src: local('SF Pro Display'),
		url('https://db.onlinewebfonts.com/t/0b51833ff62e4af8acb5fd3e2bf59e97.eot?#iefix')
			format('embedded-opentype'),
		url('https://db.onlinewebfonts.com/t/0b51833ff62e4af8acb5fd3e2bf59e97.woff2')
			format('woff2'),
		url('https://db.onlinewebfonts.com/t/0b51833ff62e4af8acb5fd3e2bf59e97.woff')
			format('woff'),
		url('https://db.onlinewebfonts.com/t/0b51833ff62e4af8acb5fd3e2bf59e97.ttf')
			format('truetype');
	font-weight: 400;
}

@font-face {
	font-family: 'SF Pro Display';
	src: local('SF Pro Display'),
		url('https://db.onlinewebfonts.com/t/64a2cfb57c4a5df1013e4f2e5bf3eff3.eot?#iefix')
			format('embedded-opentype'),
		url('https://db.onlinewebfonts.com/t/64a2cfb57c4a5df1013e4f2e5bf3eff3.woff2')
			format('woff2'),
		url('https://db.onlinewebfonts.com/t/64a2cfb57c4a5df1013e4f2e5bf3eff3.woff')
			format('woff'),
		url('https://db.onlinewebfonts.com/t/64a2cfb57c4a5df1013e4f2e5bf3eff3.ttf')
			format('truetype');
	font-weight: 500;
}

@font-face {
	font-family: 'SF Pro Display';
	src: local('SF Pro Display'),
		url('https://db.onlinewebfonts.com/t/179429c3795fb9aed42c526bd1133cc0.eot?#iefix')
			format('embedded-opentype'),
		url('https://db.onlinewebfonts.com/t/179429c3795fb9aed42c526bd1133cc0.woff2')
			format('woff2'),
		url('https://db.onlinewebfonts.com/t/179429c3795fb9aed42c526bd1133cc0.woff')
			format('woff'),
		url('https://db.onlinewebfonts.com/t/179429c3795fb9aed42c526bd1133cc0.ttf')
			format('truetype');
	font-weight: 600;
}

@font-face {
	font-family: 'SF Pro Display';
	src: local('SF Pro Display'),
		url('https://db.onlinewebfonts.com/t/3cff9206b4c8d578245ef1aaeeaf9e84.eot?#iefix')
			format('embedded-opentype'),
		url('https://db.onlinewebfonts.com/t/3cff9206b4c8d578245ef1aaeeaf9e84.woff2')
			format('woff2'),
		url('https://db.onlinewebfonts.com/t/3cff9206b4c8d578245ef1aaeeaf9e84.woff')
			format('woff'),
		url('https://db.onlinewebfonts.com/t/3cff9206b4c8d578245ef1aaeeaf9e84.ttf')
			format('truetype');
	font-weight: 700;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'SF Pro Display';
}

body {
	padding: 50px 0;
	width: 1280px;
	background-color: rgba(9, 12, 17, 1);
	background-image: url(./img/bg.png);
	background-repeat: no-repeat;
	background-position: left bottom;
	background-size: 100%;
}

.header_page {
	width: 92.1875%;
	margin: 0 3.907%;
}

.nav_header {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.logo_link {
	text-decoration: none;
	display: flex;
	align-items: center;
	gap: 12px;
	position: relative;
}

.logo_link::after {
	content: '';
	position: absolute;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 82, 179, 0.6);
	filter: blur(80.21px);
}

.logo_icon {
	width: 60px;
	height: 60px;
	border-radius: 10px;
}

.logo_title {
	font-size: 25px;
	font-weight: 500;
	background: linear-gradient(to right, #fff, #acd1fd);
	-webkit-background-clip: text;
	color: transparent;
}

.nav_header_list {
	height: 60px;
	list-style: none;
	padding: 0 30px;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	gap: 40px;
	background: rgba(255, 255, 255, 0.1);
	border-radius: 2000px;
}

.nav_header_item {
	padding: 20px 0;
	position: relative;
}

.nav_header_item::after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 2px;
	border-radius: 200px;
	background-color: #1e74f9;
	opacity: 0;
	transition: opacity 0.3s;
}

.nav_header_item.active::after {
	opacity: 1;
}

.nav_header_link {
	text-decoration: none;
	font-size: 20px;
	font-weight: 400;
	color: rgba(255, 255, 255, 0.8);
}

.nav_header_item.active .nav_header_link {
	color: rgba(255, 255, 255, 1);
}

.nav_header_btn {
	height: 60px;
	width: 208px;
	padding: 0 20px;
	font-size: 20px;
	font-weight: 500;
	color: #fff;
	border: 2px solid rgba(255, 255, 255, 0.3);
	border-radius: 200px;
	background: none;
}

.performance_header {
	margin-top: 50px;
	border-radius: 20px;
	padding: 130px 0;
	width: 100%;
	height: 660px;
	background-image: url(./img/bg_header1.png);
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: center 0;
	position: relative;
	z-index: 0;
}

.performance_header::after {
	content: '';
	position: absolute;
	display: block;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background-image: url(./img/bg_header2.png);
	opacity: 0.8;
	border-radius: 20px;
	z-index: 1;
}

.performance_header::before {
	content: '';
	position: absolute;
	display: block;
	width: 100%;
	height: 100%;
	border-radius: 20px;
	left: 0;
	top: 0;
	background: linear-gradient(
		to right,
		#07101d 0%,
		rgba(7, 16, 29, 0.2) 50%,
		#07101d 100%
	);
	z-index: 2;
}

.performance_title {
	font-size: 64px;
	font-weight: 500;
	color: #fff;
	width: 50.5%;
	margin: 0 auto;
	text-align: center;
	position: relative;
	z-index: 3;
}

.performance_text {
	font-size: 24px;
	font-weight: 400;
	color: rgba(255, 255, 255, 0.8);
	text-align: center;
	width: 35.4%;
	margin: 40px auto 60px;
	position: relative;
	z-index: 3;
}

.performance_btn {
	margin: 0 auto;
	display: block;
	padding: 20px 24px;
	border: none;
	border-radius: 200px;
	background-color: #fff;
	color: rgba(19, 23, 28, 1);
	font-size: 20px;
	font-weight: 400;
	position: relative;
	z-index: 3;
}

.main_page {
	width: 100%;
	margin-top: 115px;
}

.section_title {
	font-size: 40px;
	font-weight: 500;
	color: #99acbe;
	margin: 0 3.907%;
}

.hits {
	width: 100%;
}

.hits_products_container {
	margin: 0 3.907%;
	width: 92.1875%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 40px;
	position: relative;
}
.hits_list_container {
	overflow: hidden;
}

.hits_btn {
	border: none;
	width: 42px;
	height: 42px;
	border-radius: 50%;
	background-color: #fff;
	opacity: 0.8;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	z-index: 1;
	cursor: pointer;
}

.left {
	left: -17px;
}

.right {
	right: -17px;
}

.hits_list {
	list-style: none;
	display: flex;
	transition: transform 0.5s ease;
}

.hits_item {
	min-width: 100%;
	height: 502px;
	border-radius: 20px;
	background-repeat: no-repeat;
	background-position: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 40px;
}

.iPhone_hits {
	background-image: url(./img/iPhone_hits.png);
}

.Dyson_hits {
	background-image: url(./img/Dyson_hits.png);
}

.MacBook_hits {
	background-image: url(./img/MacBook_hits.png);
}

.Xiaomi_hits {
	background-image: url(./img/Xiaomi_hits.png);
}

.hits_product_info {
	margin-left: 120px;
}

.iPhone_hits_info {
	display: flex;
	gap: 20px;
	align-items: center;
}

.Dyson_hits_info,
.MacBook_hits_info {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.hits_product_logo-Apple {
	width: 34px;
	height: 40px;
	object-fit: cover;
}

.hits_product_text {
	font-size: 40px;
	font-weight: 500;
	color: #fff;
}

.Macbook_hits_text,
.Xiaomi_hits_text {
	color: rgba(9, 12, 17, 1);
}

.hits_product_link {
	text-decoration: none;
	margin-left: 120px;
}

.hits_product_btn {
	border: none;
	border-radius: 200px;
	width: 151px;
	padding: 12px 0;
	font-size: 20px;
	font-weight: 500;
	color: #13171c;
}

.Macbook_hits_btn {
	background-color: #006bea;
	color: #fff;
}

.hits_product_marketing {
	margin-top: 16px;
	font-size: 24px;
	font-weight: 400;
	color: rgba(9, 12, 17, 0.6);
}

.philosophy {
	width: 100%;
	height: 700px;
	background-image: url(./img/philosophy1.png);
	background-repeat: no-repeat;
	background-position: center -130px;
	display: flex;
	flex-direction: column;
	justify-content: end;
	align-items: center;
	gap: 35px;
	position: relative;
}

.philosophy::before {
	content: '';
	position: absolute;
	display: block;
	left: 0;
	bottom: -10px;
	width: 100%;
	height: 100px;
	background: linear-gradient(rgba(19, 22, 26, 0) 15%, rgba(19, 22, 26, 1) 40%);
	background: linear-gradient(
		rgba(9, 12, 17, 0) 15%,
		rgba(9, 12, 17, 0.5) 40%,
		rgba(9, 12, 17, 0.7) 60%,
		rgba(9, 12, 17, 1) 80%
	);
}

.philosophy_introduction_text {
	font-size: 24px;
	font-weight: 400;
	color: rgba(207, 223, 241, 1);
	text-align: center;
	position: relative;
	z-index: 1;
}

.philosophy_introduction_text::before {
	content: '';
	position: absolute;
	display: block;
	height: 2px;
	width: 64px;
	left: -74px;
	top: 50%;
	transform: translateY(-50%);
	background: linear-gradient(
		to right,
		rgba(226, 241, 255, 0.2) 0%,
		rgba(226, 241, 255, 1) 100%
	);
	opacity: 0.8;
}

.philosophy_introduction_text::after {
	content: '';
	position: absolute;
	display: block;
	height: 2px;
	width: 64px;
	right: -74px;
	top: 50%;
	transform: translateY(-50%);
	background: linear-gradient(
		to right,
		rgba(226, 241, 255, 1) 0%,
		rgba(226, 241, 255, 0.2) 100%
	);
	opacity: 0.8;
}

.philosophy_text {
	width: 43.125%;
	font-size: 32px;
	font-weight: 500;
	color: rgba(207, 223, 241, 1);
	text-align: center;
	position: relative;
	z-index: 1;
}

.philosophy_description {
	margin-top: 5px;
	width: 55%;
	font-size: 24px;
	font-weight: 400;
	color: rgba(255, 255, 255, 0.7);
	text-align: center;
	margin-bottom: 45px;
	position: relative;
	z-index: 1;
}

.philosophy_definition {
	color: rgba(255, 255, 255, 0.9);
}

.services {
	margin-top: 75px;
	width: 100%;
}

.products {
	margin-top: 94px;
	width: 100%;
}

.products_nav {
	list-style-type: none;
	margin: 60px 3.907% 0;
	padding: 4px;
	display: inline-flex;
	gap: 20px;
	align-items: center;
	background-color: rgba(255, 255, 255, 0.05);
	border: 1px solid rgba(255, 255, 255, 0.1);
	border-radius: 12px;
}

.products_nav_item {
	padding: 12px 16px;
	border-radius: 12px;
	transition: background-color 0.5s ease;
}

.products_nav_item.active {
	background-color: rgba(255, 255, 255, 0.1);
}

.products_nav_btn {
	padding: 12px 16px;
	display: flex;
	gap: 12px;
	align-items: center;
	justify-content: center;
	background: none;
	border: none;
}

.product_icon {
	width: 32px;
	height: 32px;
	background-color: #424447;
	background-repeat: no-repeat;
	background-position: center;
	border-radius: 9.6px;
}

.Apple_icon {
	background-image: url(./svg/Apple.svg);
}

.Dyson_icon {
	background-image: url(./svg/Dyson.svg);
}

.Sony_icon {
	background-image: url(./svg/Sony.svg);
}

.Xiaomi_icon {
	background-image: url(./svg/Xiaomi.svg);
}

.Xbox_icon {
	background-image: url(./svg/Xbox.svg);
}

.products_nav_title-btn {
	font-size: 32px;
	font-weight: 500;
	color: rgba(255, 255, 255, 0.7);
}

.products_list {
	margin-top: 72px;
	list-style-type: none;
	display: none;
	gap: 42px;
	height: 500px;
	width: 100%;
	overflow-x: scroll;
	white-space: nowrap;
	scrollbar-width: none;
	visibility: hidden;
	opacity: 0;
	transition: opacity 0.3s ease, visibility 0s 0.3s;
}

.products_list.active {
	display: flex;
	visibility: visible;
	opacity: 1;
	transition: opacity 0.3s ease;
}

.product_item {
	height: 100%;
	width: 388px;
	padding: 34px 34px 33px;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	background-image: url(./img/iPhone.png);
	background-repeat: no-repeat;
	background-position: center 22px;
	background-size: 197px 289px;
	background-color: rgba(113, 113, 113, 0.1);
	border-radius: 30px;
	position: relative;
	z-index: 1;
}

.product_item::before {
	content: '';
	display: block;
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 80%;
	border-radius: 30px;
	background: linear-gradient(rgba(19, 22, 26, 0) 15%, rgba(19, 22, 26, 1) 40%);
	pointer-events: none;
	z-index: 2;
}

.product_item::after {
	content: '';
	display: none;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	bottom: 0;
	border-radius: 30px;
	width: 100%;
	height: 48%;
	background: linear-gradient(
		rgba(113, 113, 113, 0) 0%,
		rgba(19, 22, 26, 0.1) 15%,
		rgba(4, 102, 229, 0.2) 60%
	);
	backdrop-filter: blur(400px);
	z-index: 2;
}

.product_item:hover::after {
	display: block;
}

.overlay {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: none;
	display: none;
	border: 1px solid white;
	border-image: linear-gradient(
		to top,
		rgba(83, 158, 255, 1) 0%,
		rgba(20, 121, 254, 0.4) 34%
	);
	border-image-slice: 1;
	border-radius: 30px;
	z-index: 3;
}

.product_item:hover .overlay {
	display: block;
}

.product_title {
	font-size: 24px;
	font-weight: 400;
	color: rgba(255, 255, 255, 0.6);
	text-align: center;
	z-index: 4;
}

.product_price {
	margin-top: 12px;
	font-size: 28px;
	font-weight: 600;
	color: rgba(255, 255, 255, 1);
	text-align: center;
	z-index: 4;
}

.product_purchase {
	margin-top: 27px;
	background-color: #fff;
	border-radius: 50px;
	border: none;
	width: 100%;
	height: 50px;
	font-size: 24px;
	font-weight: 400;
	color: #13161a;
	z-index: 4;
}

.product_purchase:hover {
	cursor: pointer;
	border: 2.2px solid #0064ff;
}

.product_purchase:active {
	border: none;
	background-color: rgba(144, 156, 169, 1);
}

.feedbacks {
	margin: 55px 50px;
	padding: 50px 0;
	background: linear-gradient(45deg, #0075ff, rgba(92, 167, 255, 0.2));
	box-shadow: inset 0px 0px 50px rgba(0, 0, 0, 0.5);
	border-radius: 20px;
	position: relative;
	z-index: 0;
}

.feedbacks::before {
	content: '';
	display: block;
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	border-radius: 20px;
	background: rgba(0, 0, 0, 0.6);
	pointer-events: none;
	z-index: 1;
}

.feedbacks_name {
	margin: 0 50px;
	font-size: 20px;
	font-weight: 400;
	color: rgba(255, 255, 255, 0.8);
	position: relative;
	z-index: 2;
}

.feedbacks_title {
	margin: 18px 50px 51px;
	font-size: 50px;
	font-weight: 500;
	color: rgba(255, 255, 255, 1);
	position: relative;
	z-index: 2;
}

.feedbacks_list {
	padding: 0 50px;
	list-style-type: none;
	display: flex;
	gap: 20px;
	overflow-x: scroll;
	white-space: nowrap;
	scrollbar-width: none;
	min-height: 370px;
	position: relative;
	z-index: 2;
}

.feedbacks_item {
	width: 300px;
	display: flex;
	flex-direction: column;
}

.feedbacks_item:nth-child(odd) {
	justify-content: flex-end;
}

.feedbacks_item:nth-child(even) {
	justify-content: flex-start;
}

.author_img {
	width: 70px;
	height: 70px;
	border-radius: 50%;
	background-color: #fff;
	background-image: url(./svg/Ð®.svg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 29px 30px;
	z-index: 2;
}

.author_name {
	margin-top: 16px;
	font-size: 24px;
	font-weight: 500;
	color: rgba(255, 255, 255, 1);
	z-index: 2;
}

.author_feedback {
	width: 300px;
	margin-top: 20px;
	font-size: 20px;
	font-weight: 400;
	color: rgba(255, 255, 255, 1);
	white-space: normal;
}

.feedbacks-btn {
	margin: 90px 50px 0;
	height: 90px;
	width: calc(100% - 100px);
	border: none;
	border-radius: 20px;
	background-color: rgba(255, 255, 255, 0.1);
	display: flex;
	gap: 28px;
	justify-content: center;
	align-items: center;
	position: relative;
	z-index: 2;
}

.feedbacks-btn_text {
	font-size: 30px;
	font-weight: 400;
	color: rgba(255, 255, 255, 1);
}

.request {
	margin: 0 50px;
}

.request_title {
	font-size: 50px;
	font-weight: 500;
	color: #fff;
	text-align: center;
}

.request_title-text {
	margin-top: 37px;
	font-size: 24px;
	font-weight: 400;
	color: rgba(255, 255, 255, 0.7);
	text-align: center;
}

.request_title-main_text {
	color: rgba(255, 255, 255, 1);
}

.info_request_container {
	margin-top: 62px;
	width: 100%;
	height: 426px;
	padding: 45px;
	text-align: center;
	position: relative;
	z-index: 0;
}

.info_request_container::before {
	content: '';
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background: linear-gradient(135deg, #002e5c 15%, #13171c 40%);
	backdrop-filter: blur(10px);
	opacity: 0.25;
	border-radius: 30px;
	box-shadow: inset 0px 0px 5px rgba(255, 255, 255, 1);
	z-index: 1;
}

.gradient_border-top {
	margin: 0 auto;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	width: 818px;
	border: 2000px;
	height: 2px;
	box-shadow: 0px 0px 63.4px 3px #2171f1;
	background: linear-gradient(
		to right,
		rgba(209, 227, 255, 0) 5%,
		rgba(209, 227, 255, 1) 50%,
		rgba(209, 227, 255, 0) 95%
	);
}

.info_request_container::after {
	content: '';
	display: block;
	position: absolute;
	left: 50%;
	top: -20px;
	width: 422px;
	height: 81px;
	border-radius: 50%;
	background-color: rgb(0, 117, 255);
	filter: blur(120px);
	transform: translateX(-50%);
	z-index: 1;
}

.input_fields_form {
	width: 580px;
	display: flex;
	margin: 0 auto;
	flex-direction: column;
	gap: 16px;
	position: relative;
	z-index: 2;
}

.data_request {
	width: 100%;
	height: 64px;
	padding: 24px 20px;
	background-color: rgba(199, 227, 255, 0.2);
	border: none;
	border-radius: 12px;
	outline: none;
	font-size: 24px;
	font-weight: 400;
	color: rgba(255, 255, 255, 1);
}

.data_request::placeholder {
	font-size: 24px;
	font-weight: 400;
	color: rgba(255, 255, 255, 0.3);
}

.data_request:focus {
	border: 2px solid #5698ff;
}

.request_sent-btn {
	margin-top: 38px;
	width: 580px;
	border: 1px solid #a0ccff;
	border-radius: 14px;
	background-color: #0069e5;
	box-shadow: inset 0px 0px 20px rgba(255, 255, 255, 0.4);
	padding: 24px;
	font-size: 28px;
	font-weight: 400;
	color: rgba(255, 255, 255, 1);
	position: relative;
	z-index: 2;
}

.request_sent-btn:active {
	background-color: rgba(16, 86, 171, 1);
	box-shadow: none;
	border: none;
}

.request_tel_container {
	margin-top: 40px;
	text-align: center;
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.request_tel_text {
	font-size: 20px;
	font-weight: 400;
	color: rgba(255, 255, 255, 1);
}

.request_tel {
	font-size: 20px;
	font-weight: 400;
	color: rgba(255, 255, 255, 1);
}
